#main {
    display:block;
    width: 60%;
    height: 0;
    padding-bottom: 45%;
    position: absolute;
    left:20%;
    top:5%;
}

@media only screen and (orientation: landscape) {
    .wrap {
     height: 100%;
     text-align: center;
    }
}